html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #f7de50;
}

h3,
h4 {
    text-align: center;
    margin: 0;
    font-size: 1.8vmin;
}

li:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
}

.error {
    color: #ff0000;
}

#panel {
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 0 10px 0 0;
    z-index: 1;
}

#topSection {
    background-color: #3b3a33;
    border-radius: 10px;
    padding: 10px 0;
}

#search-window {
    width: 300px;
    margin: 0 auto;
}

#searchForm {
    width: 100%;
    text-align: center;
}

#searchBox {
    width: 120px;
    height: 2.5vh;
    display: inline-block;
    border-width: 0 2px;
    padding: 0 1px;
}

#clearButton {
    display: inline-block;
    height: 2.5vh;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ebebeb;
}

.listButton {
    display: inline-block;
    height: 2.5vmax;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ebebeb;
}

#category {
    background-color: #3b3a33;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    float: left;
    width: 100%;
}

li {
    font-size: 1.8vmin;
    padding-top: 3px;
    padding-bottom: 3px;
}

#category li:hover {
    color: #f7de50;
}

.selected {
    color: #ffadd9;
    font-weight: bold;
}

.list {
    background-color: #f7de50;
    color: #3b3a33;
}

#listContainer {
    width: 100%;
    float: left;
}

#listHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
}

#listGroup {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.infoWindow {
    color: #3b3a33;
}

#map {
    width: 100%;
    height: 100%;
    float: left;
}

@media only screen and (max-width: 450px) {
    #panel {
        height: 50%;
        width: 100%;
        position: relative;
        z-index: auto;
    }
    #topSection {
        height: 20%;
        padding-top: 0;
        padding-bottom: 2px;
        border: 2px solid;
        border-radius: 0;
    }
    #header {
        height: 50%;
    }
    #search-window {
        height: 50%;
    }
    #searchBox {
        width: 30vmax;
        height: 4vh;
        border-top-width: 2px;
        border-bottom-width: 2px;
        padding-top: 1px;
        padding-bottom: 1px;
        box-sizing: border-box;
    }
    #clearButton {
        height: 4vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    .listButton {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        border-width: 0;
        height: 4vh;
    }
    #category {
        height: 80%;
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
        padding-top: 0;
    }

    .list h4 {
        color: #3b3a33;
    }
    #listHeader {
        border-radius: 0;
        height: 20%;
    }
    #previous {
        float: left;
    }
    #next {
        float: right;
    }
    #listGroup {
        border-radius: 0;
        background-color: #f7de50;
    }
    #listContainer {
        width: 50%;
        height: 80%;
        width: 50%;
        background-color: #f7de50;
    }
    #listGroup li {
        color: #3b3a33;

    }
    #map {
        position: relative;
        height: 50%;
        width: 100%;
        float: left;
    }
    h4 {
        padding-top: 2px;
        font-size: 4.5vw;
    }
    h3 {
        font-size: 4.5vw;
    }
    ul {
        margin: 0;
        padding-left: 2vmax;
    }
    #category ul {
        padding-top: 3.8vh;
    }
    #listGroup ul {
        padding-top: 2vh;
    }
    li {
        font-size: 2.75vmax;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    p {
        margin-top: .25vh;
        margin-bottom: .25vh;
        padding: 0 5vmax;
    }
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
    h4 {
        padding-top: 2px;
        font-size: 3vmax
    }
    h3 {
        font-size: 3.25vmax;
    }
    ul {
        margin: 0;
    }
    li {
        font-size: 4.5vmax;
    }
    #category {
        height: 40%;
        width: 50%;
    }
    #listHeader {
        height: 10%;
    }
    #listGroup {
        height: 35%;
    }
    #listContainer {
        width: 50%;
    }
}

