html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #f7de50;
}

h3,
h4 {
    text-align: center;
    margin: 0;
    font-size: 1.8vmin;
}

li:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
}

.error {
    color: #ff0000;
    text-align: center;
}

.panel {
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 0 10px 0 0;
    z-index: 1;
}

.topSectionBlock {
    background-color: #3b3a33;
    border-radius: 10px;
    padding: 10px 0;
}

.topSectionBlock__search-window {
    width: 300px;
    margin: 0 auto;
}

.topSectionBlock__search-window__searchForm {
    width: 100%;
    text-align: center;
}

.topSectionBlock__search-window__searchForm__searchBox {
    width: 120px;
    height: 2.5vh;
    display: inline-block;
    border-width: 0 2px;
    padding: 0 1px;
}

.topSectionBlock__search-window__searchForm__clearButton {
    display: inline-block;
    height: 2.5vh;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ebebeb;
}

.listContainerBlock__listButton {
    display: inline-block;
    height: 2.5vmax;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ebebeb;
}

.categoryBlock {
    background-color: #3b3a33;
    margin: 10px 0;
    border-radius: 10px;
    padding-top: 10px;
    float: left;
    width: 100%;
}

li {
    font-size: 1.8vmin;
    padding-top: 3px;
    padding-bottom: 3px;
}

.categoryBlock li:hover {
    color: #f7de50;
}

.selected {
    color: #ffadd9;
    font-weight: bold;
}

.listContainerBlock {
    width: 100%;
    float: left;
    color: #3b3a33;
}

.listContainerBlock__list {
    background-color: #f7de50;
    color: #3b3a33;
}

.listContainerBlock__listHeader {
    border-radius: 10px 10px 0 0;
}

.listContainerBlock__listGroup {
    border-radius: 0 0 10px 10px;
}

.infoWindow {
    color: #3b3a33;
}

#map {
    width: 100%;
    height: 100%;
    float: left;
}


/*Used to hide duplicate HTML until KO is fully loaded to switch views */

.hideFirst {
    display: none;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    .panel {
        height: 50%;
        width: 100%;
        padding: 0;
        position: relative;
        z-index: auto;
    }
    .topSectionBlock {
        height: 22%;
        padding-top: 0;
        padding-bottom: 2px;
        border: 2px solid;
        border-radius: 0;
        box-sizing: border-box;
    }
    .topSectionBlock__header {
        height: 50%;
    }
    .topSectionBlock__search-window {
        height: 50%;
    }
    .topSectionBlock__search-window__searchForm__searchBox {
        width: 30vmax;
        height: 5vh;
        border-top-width: 2px;
        border-bottom-width: 2px;
        padding-top: 1px;
        padding-bottom: .5vh;
        box-sizing: border-box;
    }
    .topSectionBlock__search-window__searchForm__clearButton {
        height: 4vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    .listContainerBlock__listButton {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        border-width: 0;
        height: 4vh;
    }
    .categoryBlock {
        height: 78%;
        width: 50%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    .listContainerBlock__list h4 {
        color: #3b3a33;
    }
    .listContainerBlock__listHeader {
        border-radius: 0;
        height: 20%;
    }
    .listContainerBlock__previous {
        float: left;
    }
    .listContainerBlock__next {
        float: right;
    }
    .listContainerBlock__listGroup {
        border-radius: 0;
        background-color: #f7de50;
    }
    .listContainerBlock {
        width: 50%;
        height: 78%;
        width: 50%;
        background-color: #f7de50;
    }
    .listContainerBlock__listGroup li {
        color: #3b3a33;
    }
    #map {
        position: relative;
        height: 50%;
        width: 100%;
        float: left;
    }
    h4 {
        padding-top: 2px;
        font-size: 4.5vw;
    }
    h3 {
        font-size: 4.5vw;
        padding-top: 1vh;
    }
    ul {
        margin: 0;
        padding-left: 2vmax;
    }
    .categoryBlock ul {
        padding-top: 3.2vh;
    }
    .listContainerBlock__listGroup ul {
        padding-top: 2.5vh;
    }
    li {
        font-size: 2.65vh;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    p {
        margin-top: .25vh;
        margin-bottom: .25vh;
        padding: 0 5vmax;
    }
}

@media only screen and (min-width: 450px) and (max-width: 700px) and (orientation: portrait) {
    .panel {
        height: 40%;
    }
    .topSectionBlock {
        height: 30%;
    }
    .topSectionBlock__search-window {
        width: 60vw;
    }
    .topSectionBlock__search-window__searchForm__searchBox {
        height: 4vh;
    }
    .topSectionBlock__search-window__searchForm__clearButton {
        height: 3.5vh;
    }
    .categoryBlock,
    .listContainerBlock {
        height: 70%;
    }
    .listContainerBlock__listHeader {
        height: 25%;
    }
    .listContainerBlock__listGroup {
        height: 75%;
    }
    .listContainerBlock__listButton {
        width: 8vw;
        height: 3.5vh;
    }
    #map {
        height: 60%;
    }
    h3 {
        font-size: 3.75vw;
    }
    h4 {
        font-size: 3.5vw;
    }
    li {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .panel {
        height: 100%;
        width: 50%;
        position: absolute;
        float: right;
        padding: 0;
    }
    .topSectionBlock {
        height: 22%;
        padding-top: 0;
        padding-bottom: 2px;
        border: 2px solid;
        border-radius: 0;
        box-sizing: border-box;
    }
    .topSectionBlock__header {
        height: 50%;
    }
    .topSectionBlock__search-window {
        height: 50%;
        width: 100%;
    }
    .topSectionBlock__search-window__searchForm__searchBox {
        width: 30vmax;
        height: 7vh;
        border-top-width: 2px;
        border-bottom-width: 2px;
        padding-top: 1px;
        padding-bottom: .5vh;
        box-sizing: border-box;
    }
    .topSectionBlock__search-window__searchForm__clearButton {
        height: 6vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    .listContainerBlock__listButton {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        border-width: 0;
        height: 6vh;
        width: 7vw;
    }
    .categoryBlock {
        height: 78%;
        width: 50%;
        margin: 0;
        border-radius: 0;
        padding-top: 0;
    }
    .listContainerBlock__list h4 {
        color: #3b3a33;
    }
    .listContainerBlock__listHeader {
        border-radius: 0;
        height: 20%;
    }
    .listContainerBlock__previous {
        float: left;
    }
    .listContainerBlock__next {
        float: right;
    }
    .listContainerBlock__listGroup {
        border-radius: 0;
        background-color: #f7de50;
    }
    .listContainerBlock {
        width: 50%;
        height: 78%;
        width: 50%;
        background-color: #f7de50;
    }
    .listContainerBlock__listGroup li {
        color: #3b3a33;
    }
    #map {
        height: 100%;
        width: 50%;
        float: left;
    }
    h4 {
        padding-top: 2px;
        font-size: 2.3vw;
    }
    h3 {
        font-size: 2.3vw;
        padding-top: 1vh;
    }
    ul {
        margin: 0;
        padding-left: 2vmax;
    }
    .categoryBlock ul {
        padding-top: 7vh;
    }
    .listContainerBlock__listGroup ul {
        padding-top: 1.5vh;
    }
    li {
        font-size: 2.5vw;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    p {
        margin-top: 1vh;
        margin-bottom: .25vh;
        padding: 0 2vw;
    }
}
